#header{
    position: fixed;
    color: rgb(108, 219, 191);
    background-color: rgb(45, 50, 54);
    height: 50px;  
    width: 100%; 
    font-weight: bold;
    z-index: 1;
}
#header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btn-bar{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding:0px 10px;
}   
#btn-bar a{
    color: rgb(108, 219, 191);;
}
#btn-bar a:hover{
    text-decoration: none;
}
#btn-bar:hover, #setting:hover{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.178);
}
#logo{
    width: 200px;
}
#logo h1{
    font-family:'Lobster', cursive;;
}
#setting{
    font-size: 25px;
    margin-right: 20px;
    padding: 0px 10px;
    margin-bottom: 10px;
}
#mainplace{
    position: fixed;
    display: flex;
    margin-top: 50px;
    width: 100%;
}
#aside{
    transition: margin-left 0.5s;
    width: 300px;
    z-index: 0;
    background-color: rgba(45, 50, 54, 0.801);
    height: 100vh;
}
body{
    background: rgba(231, 240, 240, 0.26);
    background-repeat: no-repeat;
    background-size: cover;
}
#todays{    
    color: white;
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Kumbh Sans', sans-serif;
}
#today,#tomorrow{   
    width: 200px;
    padding-left:10px;
    margin: 0px 20px;
}
#today i{
    color: rgb(108, 219, 191);
}
#tomorrow i{
    color: rgb(108, 219, 191);
}
#today:hover , #tomorrow:hover{
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 4px;
}
hr{
    background-color: slategray;
}
#projects{
    text-align: left;
}
#projects h3{
    margin-left: 30px;
}
#add-new-proj{
    background-color: rgb(108, 219, 191);
    padding: 5px;
    color: rgb(45, 50, 54);
    font-weight: bold;
    border-radius: 0px;
    width: 100%;
    transition: 0.5;
}
#add-new-proj:hover{
    background-color: rgba(108, 219, 191, 0.808);
    transition: 0.5;
}
/*styling slider of projects : */

#proj-list{
    list-style: none;
    max-height: 300px;
    overflow-y: scroll; 
    background-color: rgba(45, 50, 54, 0);
    font-size:15px;
    color: white;
    border-radius: 0px;
    width: 250px;
}
#proj-list::-webkit-scrollbar {
    width: 5px;
    height: 40px;
}
.proj-list-active { 
    background-color: rgb(45, 50, 54);
}
#proj-list::-webkit-scrollbar-track {
    box-shadow:  0 0 3px rgba(49, 55, 59, 0.801); 
    background-color:rgb(45, 50, 54);
    border-radius: 0px;
}
#proj-list::-webkit-scrollbar-thumb{
    background: rgba(108, 219, 191, 0.808); 
    border-radius: 10px;
}
#proj-list::-webkit-scrollbar-thumb:hover {
    background:  rgba(108, 219, 191, 0.459);
  }
#proj-list li{
    border-bottom: 1px solid rgb(108, 219, 191);
    cursor: pointer;
}
#proj-list li:hover{
    background-color: rgb(45, 50, 54);
}
#proj-list li:last-child{
    border: none;
}
#icons-proj-btn  i{
    font-size: 19px;
}
#temp-proj{
    padding: 4px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.disable{
    display: none;
}
#temp-proj input{
    background:none;
    border-bottom: 1px rgb(108, 219, 191) solid;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 140px;
}
#temp-proj a{
    color: white;
    text-decoration:none;
}
#temp-proj a:hover{
    text-decoration: none;
}
#delete-proj:hover, #reject-edit:hover{
    color: red;
}
#edit-proj:hover,#accept-edit:hover{
    color: green;
}
.proj-btn-xs{
    padding: 3px;
    color: white;
}
#main{
    height: 100vh;
    position: relative;
    width: 100%;
    transition: margin-left .5s;
}
.proj-root{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 10px auto;
    position: relative;
    width: 880px;
}.proj-root h2{
    font-size:25px;
    font-weight: bold;
    padding : 10px 0px;
    width: 300px;
}
#proj-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#proj-btn-title{
    padding: 3px;
    margin-right: 30px;
}
#proj-btn-title button{
    font-size: 23px;
    padding: 0px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.603);
}
.btn{
    margin: 0px;
    padding: 0px;
}
#tasks-list ul
{
    list-style: none;
}
#tasks-list li{
    border-bottom: 1px rgba(12, 12, 12, 0.123) solid;
    margin-bottom: 10px;
}
#task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#task-inf {
    font-size: 17px;
    display: flex;
    align-items: center;
}
#task-inf p{
    margin: auto 0px;
}
#task-inf button{
    font-size: 25px;
    padding: 0px 10px 0px 0px;
    color: rgba(0, 0, 0, 0.404);
}
#task-btn{
    margin-right: 20px;
}
#task-btn button{
    visibility: hidden;/*we will show after hover on it*/
    font-size: 20px;
    padding: 0px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.603);
}
#add-tast{
    width: 100%;   
}
#add-task{
    width: 100%;
}
#new-task{
    width: 100%;
    position: relative;
}
#new-task input{
    width: 80%;
    border: none;
    width: 100%;
    background:none;
    position: relative;
    padding: 10px;
}
#new-task-input:focus{
    border: none;
    outline: none;
}
.card{
    background: none;
}
#add-tast-btns{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
#project-choos-btn, #task-schedule-btn{
    font-family: 'Kumbh Sans', sans-serif;
    padding:5px 10px;
    border: solid 1px rgba(15, 15, 15, 0.151);
}
.la-project-diagram , .la-calendar-day{
    color: rgba(15, 15, 15, 0.527);
    font-size: 20px;
    margin: auto 0px;
}
.la-tag , .la-thermometer-half{
    color: rgba(15, 15, 15, 0.527);
    font-size: 25px;
    margin: auto 0px;   
}
#add-task-2{
    margin-top: 10px;
}
#add-task-2-btn{
    background-color: rgb(108, 219, 191);
    padding:5px 10px;
    color: rgb(45, 50, 54);
    font-weight: bold;
}
#cancel-add-task-btn{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
}