<li>
    <div id="temp-proj">
        <a>Project 1</a>
        <input type="text" maxlength="20" placeholder="project1" class="disable" name="proj">
        <div id="icons-proj-btn">    
            <button class="btn proj-btn-xs" id="edit-proj"><i class="las la-pen"></i></button>
            <button class="btn proj-btn-xs" id="delete-proj"><i class="las la-minus-circle"></i></button>
            <button class="btn proj-btn-xs disable" id="accept-edit"><i class="las la-check-circle"></i></button>
            <button class="btn proj-btn-xs disable" id="reject-edit"><i class="las la-times-circle"></i></button>
        </div>
    </div>        
</li>